body{
	font-family: 'Raleway', sans-serif;
	color: @grey;
	font-weight: 300;
}

a{
	color: @blueFour;

	&:hover{
		color: @blueOne;
		text-decoration: none;
	}
}

.container-fluid{
	.row{
		max-width: 1170px;
		margin: 0 auto;
		// border-left: 2px solid black;
		// border-right: 2px solid black;
	}
}

#main-header{
	background: url('../img/home_bg.jpg') no-repeat center center;
	position: fixed;
	display: table;
	top: 0;
	left: 0;
	z-index: 1;

	.overlay{
		width: 100%;
		height: 100%;
		background: white;
		opacity: 0.6;
		position: absolute;
		top: 0;
		left: 0;
	}

	.img-wrapper{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		position: relative;

		img{
			margin: 0 auto;
		}

		a{
			display: block;
			text-align: center;
			margin-top: 100px;
		}
	}
}

.one-bg{
	background-color: @grey;
	background-image: url('../img/bg-pattern.png');
	background-repeat: repeat;
	background-position: left top;
	background-size: auto;
}

.two-bg{
	background-color: @bone;

	@media (min-width: @screen-sm-min) {
		background-image: url('../img/g2w.jpg'), url('../img/w2g.jpg');
		background-repeat: no-repeat, no-repeat;
		background-position: center top, center bottom;
		background-size: auto, auto;
	}
	
	@media (min-width: @screen-lg-min) {
		background-size: 100% auto, 100% auto;
	}

	@media (min-width: @screen-sm-min) {
		padding-top: 250px;
		padding-bottom: 300px;
	}
}

.bg-blueOne{
	background-color: @blueOne;
}

.bg-blueTwo{
	background-color: @blueTwo;
}

.bg-blueThree{
	background-color: @blueThree;
}

.bg-blueFour{
	background-color: @blueFour;
}

.about{
	position: relative;
	z-index: 2;

	@media (min-width: @screen-sm-min) {
		height: 300px;
	}

	p{
		color: @bone;
		font-size: 26px;
		text-align: center;
		line-height: 1.3;
	}

	.desc{
		padding-top: 50px;
		@media (min-width: @screen-sm-min) {
			padding-top: 100px;
		}
	}

	.dots{
		padding-top:40px;
		padding-bottom: 50px;
		
		@media (max-width: @screen-md-max) {
			padding-top:20px;
		}

		.img-wrapper{
			width: 100%;
			text-align: center;

			img{
				display: inline;
				padding: 0 15px;
			}
		}
	}
}

.products{
	position: relative;
	z-index: 2;

	.products-info{
		margin-top: 25px;

		p{
			font-size: 18px;
			line-height: 1.5;

			&:first-of-type{
				padding-top: 50px;
			}
		}

		.img-wrapper{
			width: 100%;

			img{
				display: block;
				margin: 0 auto;
			}
		}

		i{
			margin-left: 25px;
		}
	}

	.products-title{
		margin-top: 25px;

		h2{
			color: @blueFour;
			text-align: center;
			
			@media (max-width: @screen-xs-max) {
				margin-bottom: 25px;
			}
		}
	}

	.products-grid{
		margin-top: 0;

		@media (min-width: @screen-sm-min) {
			margin-top: 50px;
		}

		&:first-of-type{
			margin-top: 25px;
		}

		.products-grid--single{
			display: table;
			padding: 40px 25px;
			
			@media (max-width: @screen-xs-max) {
				&:nth-of-type(odd){
					margin-bottom: 25px;
				}
			}
			
			
			p{
				display: table-cell;
				vertical-align: middle;
				font-size: 16px;
				color: white;
				text-align: center;
			}

			&:hover{
				background-image: url('../img/vectors/check.png');
				background-position: left top;
				background-repeat: no-repeat; 
			}	
		}
	}
}

.marcas{
	position: relative;
	z-index: 2;

	@media (max-width: @screen-xs-max) {
		padding-top: 25px;
	}

	@media (min-width: @screen-sm-min) {
		height: 700px;
	}

	.marcas-title{
		padding-top: 0;
		padding-bottom: 25px;
		color: @bone;
		text-align: center;
	}

	.marcas-single{
		margin-bottom: 50px;

		p{
			color: @bone;
			padding-top: 25px;
			font-size: 18px;
		}

		.img-wrapper{
			width: 100%;

			img{
				display: block;
				margin: 0 auto;

				@media (max-width: @screen-xs-max) {
					margin-top: 25px;
				}
			}
		}
	}
}

.btn-outline{
	border: 1px solid @blueFour;
	color: @blueFour;
	border-radius: 0;
	padding: 10px;
	background: none;
	transition: .3s;
	margin-top: 25px;
	white-space: normal; 

	&:hover{
		background: @blueFour; 
		color: @bone;
	}
}

.btn-enviar{
	border: 1px solid @bone;
	color: @grey;
	border-radius: 0;
	padding: 10px;
	background: @bone;
	transition: .3s;

	&:hover{
		background: @blueFour; 
		color: @bone;
	}
}

.nogut{
	padding-left: 0;
	padding-right: 0;
}

.categories{
	position: relative;
	z-index: 2;

	.categories-title{
		margin-top: 25px;

		h2{
			color: @grey;
			text-align: center;
		}
	}

	.categories-single{
		margin-bottom: 50px;
		@media (max-width: @screen-xs-max) {
			margin-bottom: 25px;
		}

		h3{
			color: grey;
			margin-bottom: 25px;
		}

		p{
			font-size: 16px;
		}

		#collapseAutomotriz, #collapsePesada, #collapseIndustria{
			margin-top: 25px;
		}

		.media{
			margin-bottom: 25px;

			@media (max-width: @screen-xs-max) {
				margin-bottom: 15px;
			}
		}

		.media-body{
			p{
				padding-top: 10px;
				
				@media (max-width: @screen-xs-max) {
					padding-top: 25px;
				}
			}
		}

		.img-wrapper{
			width: 100%;

			img{
				display: block;
				margin: 0 auto;

				@media (max-width: @screen-xs-max) {
					margin-top: 25px;
				}
			}
		}
	}
}

.contact{
	position: relative;
	z-index: 2;
	color: white;

	.contact-form{
		@media (min-width: @screen-sm-min) {
			border-left: 1px solid white;
		}

		padding-top: 25px;
		padding-bottom: 25px;

		@media (max-width: @screen-xs-max) {
			margin-left: -15px;
    		margin-right: -15px;
    		margin-top: 25px;
		}

		.form-control{
			border-radius: 0;
			height: 50px;
			border: none;
			margin-bottom: 25px;

			&::-webkit-input-placeholder { color:@grey; font-size: 14px; }
			&::-moz-placeholder { color:@grey; font-size: 14px; } /* firefox 19+ */
			&:-ms-input-placeholder { color:@grey; font-size: 14px; } /* ie */
			&input:-moz-placeholder { color:@grey; font-size: 14px; }
		}
	}

	.contact-info{
		.img-wrapper{
			width: 100%;
			img{
				display: block;
				margin: 0 auto;
			}
		}

		a{
			font-size: 20px;
			color: white;
			text-align: center;
			display: block;
			margin-top: 25px;

			&:hover{
				color: @blueFour;
				text-decoration: none;
			}
		}

		address{
			color: white;
			text-align: center;
			font-size: 22px;
			margin-top: 25px;
		}
	}

	.footer-logo{
		padding-top: 20px;
		padding-bottom: 20px; 
	}
}

.pull-right{
	@media (max-width: @screen-xs-max) {
		float: none !important;
	}
}